.Add_order {
    padding: 20px 40px 20px 10px;
    width: 63vw;
}

.Add_order_container {
    padding: 25px 30px;
    background-color: var(--first_color);
    height: 47vh;
    border-radius: 20px;
}

.Add_order .Add_order_container .Add_order_header {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.Add_order .Add_order_container .Add_order_header a {
    text-decoration: none;
}

.Add_order .Add_order_container .Add_order_header a img {
    padding-left: 5px;
    height: 10px;
}

.Add_order .Add_order_container form {
    padding: 15px 0;
    display: flex;
}

.Add_order .Add_order_container form {
    width: 100%;
    height: 90%;
}

.Add_order .Add_order_container form .Add_order_left_side,
.Add_order .Add_order_container form .Add_order_right_side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    height: 100%;
    width: 50%;
}

.Add_order .Add_order_container form .Add_order_right_side {
    margin-top: 0;
}

.Add_order .Add_order_container form label input,
.Add_order .Add_order_container form label textarea,
.Add_order .Add_order_container form label select {
    margin-left: 15px;
    padding: 5px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: var(--second_color);
    color: var(--input_font_color);
    color-scheme: dark;
}

.Add_order .Add_order_container form label input::placeholder,
.Add_order .Add_order_container form label textarea::placeholder {
    color: var(--input_font_color);
}

.Add_order .Add_order_container form label input[type=number] {
    width: 20%;

}

.Add_order .Add_order_container form label input[type=date] {
    margin-left: 25px;
    width: 35%;
}

.Add_order .Add_order_container form label select {
    border-right: 10px solid transparent;
    width: 35%;

}

.Add_order .Add_order_container form label {
    display: block;
}

.Add_order .Add_order_container form .Order_add_material {
    margin: 10px 0;
}

/*Right side*/

.Add_order .Add_order_container form .Add_order_right_side button:first-child {
    margin: 10px 0 0 0;
    width: 35%;
    background-color: var(--second_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Add_order .Add_order_container form .Add_order_right_side button:first-child img {
    margin-right: 8px;
}

.Add_order .Add_order_container form .Add_order_right_side .Divider {
    margin: 10px 0;
    width: 90%;
    justify-content: flex-start;
}

.Add_order .Add_order_container form .Add_order_right_side .Divider p{
    font-size: 1rem;
}

.Add_order .Add_order_container form .Add_order_right_side input  {
    margin: 10px 15px 10px 0;
    width: 35%;
}

.Add_order .Add_order_container form .Add_order_right_side textarea {
    margin: 10px 0 0 0 ;
    width: 90%;
}

.Add_order .Add_order_container form .Add_order_right_side button {
    margin-top: 5px;
    padding: 8px 20px;
    width: 90%;
}