.Order_info_elements, .Order_info_materials {
    width: 30%;
}

.Order_info_elements_container, .Order_info_materials_container {
    margin-top: 10px;
    padding: 15px;
    background-color: var(--background_color);
    border-radius: var(--border_radius);
    height: 18vh;
    overflow: auto;
}

.Order_info_elements_container::-webkit-scrollbar, .Order_info_materials_container::-webkit-scrollbar{
    width: 10px;
    background: #b7b7b7;
    border-radius: 10px;
}

.Order_info_elements_container::-webkit-scrollbar-thumb, .Order_info_materials_container::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 10px;
}

.Order_info_elements_container tabl, .Order_info_materials_container table {
    padding-left: 10px;
    width: 100%;
}

.Order_info_elements_container table thead tr th, .Order_info_materials_container table thead tr th {
    text-align: left;
}

.Order_info_elements_container table thead tr th:nth-child(1), .Order_info_materials_container table thead tr th:nth-child(1) {
    width: 20%;
}

.Order_info_elements_container table thead tr th:nth-child(2), .Order_info_materials_container table thead tr th:nth-child(2) {
    width: 50%;
}

.Order_info_elements_container table thead tr th:nth-child(3), .Order_info_materials_container table thead tr th:nth-child(3) {
    width: 20%;
}


