.Navigation {
    padding: 60px 23px;
    width: 11vw;
    background-color: var(--navy_color);
}

.Navigation .Navigation_user_details {
    padding-right: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navigation .Navigation_user_details img {
    height: 42px;
}

.Navigation .Navigation_user_details .Navigation_user_information h3 {
    padding-bottom: 3px;
    font-size: 1.1rem;
}

.Navigation .Navigation_user_details .Navigation_user_information p {
    font-size: 0.8rem;
}

.Navigation nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77vh;
    list-style: none;
}

.Navigation nav ul .Navigation_line {
    margin-bottom: 15px;
    height: 1px;
    background-color: var(--line_color);
}

.Navigation nav ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.Navigation nav ul li a img {
    padding-right: 20px;
    height: 28px;
}

.Navigation nav ul li a p {
    font-size: 1rem;
}