.Home_container .Home_wrapper .Home_actual_order {
    padding: 20px 40px 20px 10px;
    width: 63vw;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container {
    padding: 20px 40px;
    background-color: var(--first_color);
    height: 32vh;
    border-radius: 20px;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container h2 {
    padding-right: 20px;
    display: inline;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container p {
    padding-right: 40px;
    display: inline;
    font-size: 1.1rem;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container p:nth-child(3) {
    font-weight: bold;
    font-size: 1.2rem;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container p.Home_notification_red {
    color: red;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container p.Home_notification_orange {
    color: orange;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items {
    height: 100%;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements {
    width: 30%;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline_container,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--background_color);
    border-radius: 20px;
    height: 18vh;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline_container h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline_container p {
    font-size: 1.1rem;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container {
    overflow: auto;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container::-webkit-scrollbar,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container::-webkit-scrollbar {
    width: 10px;
    background: #fff;
    border-radius: 10px;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container::-webkit-scrollbar-thumb,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container::-webkit-scrollbar-thumb {
    background: var(--input_font_color);
    border-radius: 10px;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container table thead tr th,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container table thead tr th {
    text-align: left;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container table,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container table {
    width: 80%;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container table thead tr th:nth-child(2) {
    width: 50%;
}


