.Order_info_materials{
    width: 30%;
}

.Order_info_materials_container{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--background_color);
    border-radius: var(--border_radius);
    height: 18vh;
}

.Order_info_materials_container {
    overflow: auto;
}

.Order_info_materials_container::-webkit-scrollbar {
    width: 10px;
    background: #fff;
    border-radius: 10px;
}

.Order_info_materials_container::-webkit-scrollbar-thumb {
    background: var(--input_font_color);
    border-radius: 10px;
}

.Order_info_materials_container table thead tr th {
    text-align: left;
}

.Order_info_materials_container table {
    width: 80%;
}

