.Add_material {
    padding: 20px 10px 20px 50px;
    width: 24vw;
}

.Add_material .Add_material_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 30px;
    background-color: var(--first_color);
    height: 47vh;
    border-radius: var(--border_radius);
}

.Add_material .Add_material_container form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.Add_material .Add_material_container form input,
.Add_material .Add_material_container form textarea {
    margin: 7px 0 15px;
    display: block;
    padding: 5px 15px;
    font-size: 1rem;
    border: none;
    border-radius: var(--border_radius);
    background-color: var(--second_color);
    color: var(--input_font_color);
}

.Add_material .Add_material_container form input::placeholder,
.Add_material .Add_material_container form textarea::placeholder {
    color: var(--input_font_color);
}

.Add_material .Add_material_container form textarea {
    padding: 10px 15px;
    width: 100%;
}

.Add_material .Add_material_container form label:nth-child(2) input {
    width: 40%;
}

.Add_material .Add_material_container form button {
    padding: 8px 20px;
}
