* {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  color: var(--font_color);
  box-sizing: border-box;
}

:root {
  --background_color: #161616;
  --first_color: #282828;
  --second_color: #424242;
  --font_color: #ffffff;
  --line_color: #3a3a3a;
  --status_font_color: #707070;
  --input_color: #181818;
  --input_font_color: #bdbdbd;
  --navy_color: #082129;
}


/*--first_color: #3e505e;*/
/*--second_color: #73777c;*/