.Signup_container .Signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Signup_container .Signup_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 58%;
}

.Signup_container .Signup_form form label {
    width: 100%;
    font-size: 1.4rem;
}

.Signup_container .Signup_form form label input {
    display: block;
    margin: 10px 0 15px -10px;
    padding: 12px 12px 12px 30px;
    width: 95%;
    font-size: 1.3rem;
    border: none;
    border-radius: 20px;
    background-color: var(--second_color);
    color: var(--input_font_color);
}

.Signup_container .Signup_form form button {
    margin-top: 10px;
    padding: 12px;
    width: 103%;
    background-color: var(--first_color);
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}