.Order_info_elements {
    width: 30%;
}

.Order_info_elements_container {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--background_color);
    border-radius: var(--border_radius);
    height: 18vh;
}

.Order_info_elements_container {
    overflow: auto;
}

.Order_info_elements_container::-webkit-scrollbar{
    width: 10px;
    background: #b7b7b7;
    border-radius: 10px;
}

.Order_info_elements_container::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 10px;
}

.Order_info_elements_container table thead tr th {
    text-align: left;
}

.Order_info_elements_container table {
    padding-left: 20px;
    width: 100%;
}

.Order_info_elements_container table thead tr th:nth-child(1) {
    width: 20%;
}

.Order_info_elements_container table thead tr th:nth-child(2) {
    width: 50%;
}

.Order_info_elements_container table thead tr th:nth-child(3) {
    width: 20%;
}


