.Orders_single_order {
    margin: 15px;
    padding: 10px 20px 15px;
    width: 22%;
    border-radius: 20px;
    background-color: var(--first_color);
}

.Orders_single_order h2,
.Orders_single_order p {
    display: block;
    margin: 6px auto;
    height: 30px;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    line-height: 30px;
}
.Orders_single_order h2 {
    width: 60%;
    font-size: 1.3rem;
}

.Orders_single_order p {
    width: 40%;
    color: var(--input_font_color);
}

.Orders_single_order .Home_elements{
    margin: 6px 0 18px;
    width: 100%;
}

.Orders_single_order .Home_elements h3 {
    margin-left: 10px;
    font-weight: normal;
    font-size: 1.1rem;
}

.Orders_single_order .Home_elements .Home_elements_container{
    margin-top: 7px;
}

.Orders_single_order .Orders_single_order_buttons{
    display: flex;
    justify-content: space-around;
}

.Orders_single_order .Orders_single_order_buttons button {
    margin: 0;
    padding: 7px 20px;
}
