.Home {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--background_color);
}

/*Nawigacja*/
.Home_navigation {
    padding: 60px 23px;
    width: 11vw;
    background-color: var(--navy_color);
}

.Home_navigation .Home_user_details {
    padding-right: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Home_navigation .Home_user_details img {
    height: 42px;
}

.Home_navigation .Home_user_details .Home_user_information h3 {
    padding-bottom: 3px;
    font-size: 1.1rem;
}

.Home_navigation .Home_user_details .Home_user_information p {
    font-size: 0.8rem;
}

.Home_navigation nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77vh;
    list-style: none;
}

.Home_navigation nav ul .Home_line {
    margin-bottom: 15px;
    height: 1px;
    background-color: var(--line_color);
}

.Home_navigation nav ul li a {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
}

.Home_navigation nav ul li a img {
    padding-right: 20px;
   height: 28px;
}

.Home_navigation nav ul li a p {
    font-size: 1rem;
}

/*Content*/
.Home_container {
    display: flex;
    flex-direction: column;
    width: 89vw;
}

.Home_container .Home_header {
    padding: 40px 30px 10px 8%;
}

.Home_container .Home_header h1 {
    margin-right: 10%;
    display: inline;
}

.Home_container .Home_header h2 {
    display: inline;
}

.Home_container .Home_wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Kalendarz*/
.Home_container .Home_wrapper .Home_calendar {
    padding: 20px 10px 20px 50px;
    width: 24vw;

    /*width: 25%;*/
}

.Home_container .Home_wrapper .Home_calendar .react-calendar {
    background-color: #282828;
    min-height: 32vh;
    width: 100%;
}

/*Zamówienie w trakcie*/
.Home_container .Home_wrapper .Home_actual_order {
    padding: 20px 40px 20px 10px;
    width: 63vw;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container {
    padding: 20px 40px;
    background-color: #282828;
    height: 32vh;
    border-radius: 20px;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container h2 {
    padding-right: 20px;
    display: inline;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container p {
    display: inline;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items {
    height: 100%;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements{
  width: 30%;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline_container,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container,
.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--background_color);
    border-radius: 20px;
    height: 18vh;

}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline_container h4{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_deadline_container p{
    font-size: 1.1rem;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container {
    overflow: auto;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_materials_used_container{
    overflow: auto;

}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container table tr th:nth-child(2){
    border: 1px solid white;
    border-collapse: collapse;
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container table tr td{
    /*padding: 2px;*/
}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container::-webkit-scrollbar{
    width: 10px;
    background: #fff;
    border-radius: 10px;

}

.Home_container .Home_wrapper .Home_actual_order .Home_actual_order_container .Home_actual_order_container_items .Home_elements_container::-webkit-scrollbar-thumb {
    background: var(--input_font_color);
    border-radius: 10px;
}















/*Dodaj materiał*/
.Home_container .Home_wrapper .Home_add_material {
    padding: 20px 10px 20px 50px;
    width: 24vw;
}

.Home_container .Home_wrapper .Home_add_material .Home_add_material_container {
    background-color: #282828;
    height: 45vh;
    border-radius: 20px;
}

/*Dodaj zamówienie*/
.Home_container .Home_wrapper .Home_add_order {
    padding: 20px 40px 20px 10px;
    width: 63vw;
}

.Home_container .Home_wrapper .Home_add_order .Home_add_order_container {
    background-color: #282828;
    height: 45vh;
    border-radius: 20px;
}

/*Zamówienie w trakcie*/




